<% include header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1> Vote your candidate</h1>
                <hr>
                <strong>NAME:
                </strong>
                <p>
                    <%= name.toUpperCase() %>
                </p>
                <strong>AADHAAR:
                </strong>
                <p>
                    <%= aadhaar.toUpperCase() %>
                </p>
                <strong>CONSTITUENCY:
                </strong>
                <p>
                    <%= constituency %>
                </p>
            </div>
            <div class="col-md-6">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Cast your Vote</h1>
                        <hr>
                        <hr>
                        <p class="lead">
                            <% for(var i=0; i< data.length; i++) { %>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="<%=data[i].name.split(' ')[0] %>" name="votecandidate" value="<%=data[i].name.split(' ')[0].toString() %>" class="custom-control-input">
                                    <label class="custom-control-label" for="<%=data[i].name.split(' ')[0] %>">
                                        <%=data[i].name %>
                                    </label>
                                </div>
                                <hr>
                                <% } %>

                                    <div class="form-group">
                                        <button id="vote_btn" class="btn btn-primary" onclick="javascript:voteForCandidate('<%= id%>');">Submit</button>
                                    </div>
                                 <!--   
                                    <div class="custom-control custom-radio">
                                <input type="radio" id="rahul" name="candidate" value="Rahul Gandhi" class="custom-control-input">
                                <label class="custom-control-label" for="rahul">Rahul Gandhi</label>
                            </div>
                             <!-- 
                            <div class="custom-control custom-radio">
                                <input type="radio" id="modi" name="candidate" value="Narendra Modi" class="custom-control-input">
                                <label class="custom-control-label" for="modi">Narendra Modi</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="arvind" name="candidate" value="Arvind Kejrival" class="custom-control-input">
                                <label class="custom-control-label" for="arvind">Arvind Kejrival</label>
                            </div> 
                            <div class="form-group">
                                <button id="vote_btn" class="btn btn-primary" onclick="javascript:voteForCandidate('<%= id%>');">Submit</button>
                            </div>-->
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid sp-md tc-bg-4 clearfix" data-toggle="collapse">
            <center><div class="footer-top"><a class="footer-logo" href="#"><img src="assets/img/logo.png" alt="Logo"  width="200" height="40" /></a></div></center>
        <div class="container tc-bg-5 epd-x  pd-y-20 footer-top">
            <div class="col-md-4 pd-x-l-110 epd-x-r">
                <i class="fa fa-phone"></i>
                <div class="dib">
                    <p class="ff-ssp pd-x-l-15 lh-13 tc-7 text-uppercase fz-18 fw-b">phone</p>
                    <p class="tc-7 fz-16 fw-n pd-x-l-15 pd-y-t-10 lh-11 ff-abee">(+1-888-77-8989 00)</p>
                </div>
            </div>
            <div class="col-md-4 pd-x-l-75 epd-x-r">
                <i class="flaticon-location-marker"></i>
                <div class="dib">
                    <p class="ff-ssp pd-x-l-15 lh-13 tc-7 text-uppercase fz-18 fw-b">address</p>
                    <p class="tc-7 fz-16 fw-n pd-x-l-15 pd-y-t-10 lh-11 ff-abee">120D, Strikerate st, US1010A</p>
                </div>
            </div>
            <div class="col-md-4 pd-x-l-35 epd-x-r">
                <i class="fa fa-paper-plane"></i>
                <div class="dib">
                    <p class="ff-ssp pd-x-l-15 lh-13 tc-7 text-uppercase fz-18 fw-b">email</p>
                    <p class="tc-7 fz-16 fw-n pd-x-l-15 pd-y-t-10 lh-11 ff-abee">info@domianname.com</p>
                </div>
            </div>
            <div class="clr"></div>
            </div>
        </footer>
    </body>

    </html>